v8
*.o
*.a
*.gz
*.sh
*.exe
*.obj
*.exp
*.lib
*.so
*.dylib
done
.vscode
scratch
deps
notes.md
lib/inflate/em_inflate.c
lib/inflate/em_inflate.h
lib/**/*.cc
!lib/core/core.cc
!lib/curl/curl.cc
!lib/inflate/inflate.cc
!lib/mach/mach.cc
lib/bestlines/bestline.c
lib/bestlines/bestline.h
lib/pico/picohttpparser.c
lib/pico/picohttpparser.h
globals.d.ts
lib/globals.d.ts
lib/apis.all.d.ts
# my
compile_commands.json
.cache
/out